* {
  /* General taskbar font, I like maple mono ^-^*/
  font-family: Maple Mono;
  border-radius: 8;
  font-size: 14px;
  padding: 0px;
  background: transparent;
}

window#waybar {
  /* Linear gradients are used because it makes less harsh rounded border radius, gtk bug :p */
  background-image: linear-gradient(to bottom, #200717 100%);
  border-radius: 14px;
  padding: 0px;
  border-style: none;
}

#battery,
#network,
#clock,
#custom-applauncher,
#custom-stars,
#custom-clock,
#tray,
#workspaces,
#pulseaudio {
  background-image: linear-gradient(to bottom, #581D41 100%);

  margin: 8px 4px;
  padding: 4px 8px;
  border-radius: 8px;
  color: #faf2df;

  border-style: none;
  transition-duration: 120ms;
}

#battery, #clock, #custom-clock {
  background-image: linear-gradient(to bottom, #eb5b80);
}

#custom-stars, #custom-clock {
  font-weight: bold;
}

#clock {
  margin-right: 10px;
}

#pulseaudio:hover {
  background-image: linear-gradient(to bottom, #eb5b80 100%);
  color: #200717;
  transition-duration: 120ms;
}

#custom-applauncher {
  font-weight: bold;
  transition-duration: 120ms;
}
#custom-applauncher:hover {
  background-image: linear-gradient(to bottom, #eb5b80 100%);
  color: #200717;
  transition-duration: 120ms;
}

#tray menu {
  background-color: #200717;
  color: #faf2df;
  padding: 4px;
}
#tray menu menuitem {
  background-image: linear-gradient(to bottom, #200717 100%);

  margin: 3px;
  color: #faf2df;
  border-radius: 4px;
  border-style: solid;
  border-color: #581D41;
}
#tray menu menuitem:hover {
  background-image: linear-gradient(to bottom, #200717 100%);
  color: #eb5b80;
  font-weight: bold;
}

#workspaces button {
  transition-duration: 100ms;
  all: initial;
  min-width: 0;
  font-weight: bold;
  color: #faf2df;
  margin-right: 0.2cm;
  margin-left: 0.2cm;
}

#workspaces button:hover {
  transition-duration: 120ms;
  color: #eb5b80;
}
#workspaces button.focused {
  color: #eb5b80;
  font-weight: bold;
}
#workspaces button.active {
  color: #faf2df;
  font-weight: bold;
}
#workspaces button.urgent {
  color: #eb5b80;
}

#battery {
  margin-left: 10px;
  background-color: #581D41;
  color: #faf2df;
}
#battery.warning,
#battery.critical,
#battery.urgent {
  color: #faf2df;
}