* {
  font-family: Maple Mono;
  background: transparent;
  color: #faf2df;
}

#window {
  color: #faf2df;
  border-color: #faf2df;
  border-style: solid;
  border-width: 1px;

  /*Linear gradient background instead of standard background, because it makes cleaner border-radius cuts, issa bug :p*/
  background-image: linear-gradient(to bottom, #200717 100%);
  border-radius: 14px;
}
#scroll {
  border-top-style: solid;
  border-width: 1px;
  border-color: #faf2df;
}
#inner-box {
  padding-top: 12px;
}
#entry {
  border-style: none;
  border-color: #faf2df;
  color: #faf2df;
  padding: 6px;
  margin-bottom: 8px;
  margin-left: 12px;
  margin-right: 12;

  border-radius: 12px;
}

#entry:selected {
  background: #722D58;
  color: #faf2df;
  font-weight: bold;
  outline: none;
}

#input {
  background-color: #200717;
  color: #faf2df;
  border-color: #faf2df;

  border-style: none;
  border-bottom-style: solid;
  border-width: 1px;

  font-style: normal;

  border-radius: 8;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  padding: 12px;
  margin: 8px;
}
#input:focus {
  background: #200717;
  background-color: #200717;
  border-color: #eb5b80;
  font-style: italic;
}

#img {
  padding: 4px;
  margin-right: 6px;
}